<!DOCTYPE html>
<html>
<head>
  <title>All Houses</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../styles/houses.css">
  </link>
</head>
<body>
  <div class="container">
    <div class="button-group">
      <button onclick="location.href='/Dashboard'" type="button" class="btn btn-danger">HomePage</button>
    </div>
    <h1 class="mt-4 all-houses-title">Discover Our Beautiful Houses</h1>
    <div class="form-container">
      <div class="button-group">
        <button onclick="location.href='/add-house'" type="button" class="btn btn-add-house">Add House</button>
     </div>
      <!-- Search by Title -->
      <form action="/search" method="GET">
        <div class="search-container">
          <span class="search-icon">&#128269;</span>
          <input type="text" name="title" id="title" placeholder="Search Houses by Title" required>
        </div>
        <button type="submit">Search</button>
      </form>

      <!-- Search by Location -->
      <form action="/search" method="GET">
        <div class="search-container">
          <span class="search-icon">&#128269;</span>
          <input type="text" name="location" id="location" placeholder="Search Houses by Location" required>
        </div>
        <button type="submit">Search</button>
      </form>
    </div>
      
    <% if (houses.length === 0) { %>
      <p><%= error %></p>
    <% } else { %>
      <ul class="house-list">
        <% houses.forEach(house => { %>
          <li class="house-item">
            <div class="row">
              <div class="col-md-4">
                <img src="<%= house.photos[0] %>" alt="House Image" class="house-image">
              </div>
              <div class="col-md-8">
                <h2><%= house.title %></h2>
                <p class="house-price">Price: <%= house.price %></p>
                <p class="house-details"><strong>Description:</strong> <%= house.description %></p>
                <p class="house-details"><strong>Location:</strong> <%= house.location %></p>
                <div class="button-group">
                  <% if (house.userID && currentUser && house.userID.toString() === currentUser._id.toString()) { %>
                    <button onclick="location.href='/update-house/<%= house._id %>'" type="button" class="btn btn-secondary">Update</button>
                    <button onclick="location.href='/delete-house/<%= house._id %>'" type="button" class="btn btn-danger">Delete</button>
                  <% } %>
                  <button onclick="location.href='/owner-details/<%= house.title %>'" type="button" class="btn btn-info">View Owner Details</button>
                </div>
              </div>
            </div>
          </li>
        <% }); %>
      </ul>
    <% } %>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
