<!-- houses.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>All Houses</title>
</head>
<body>
  <h1>All Houses</h1>
  <button onclick="location.href='/add-house'" type="button">Add House</button>
  <% if (houses.length === 0) { %>
    <p><%= error %></p>
  <% } else { %>
    <ul>
      <% houses.forEach(house => { %>
        <li>
          <h2><%= house.title %></h2>
          <p><%= house.description %></p>
          <p>Price: <%= house.price %></p>
          <p>Location: <%= house.location %></p>
          <% house.photos.forEach(photo => { %>
            <img src="<%= photo %>" alt="House Image">
          <% }); %>          
          <!-- Check if the current user is the one who added this house -->
          <% if (house.userID && currentUser && house.userID.toString() === currentUser._id.toString()) { %>
            <button onclick="location.href='/update-house/<%= house._id %>'" type="button">Update</button>
            <button onclick="location.href='/delete-house/<%= house._id %>'" type="button">Delete</button>
          <% } %>
        </li>
      <% }); %>
    </ul>
  <% } %>
</body>
</html>
