<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Update House</title>
  <link rel="stylesheet" href="../styles/updateHouse.css">
</link>
</head>
<body>
  <div class="container">
    <div class="title-container">
      <div class="title-text">Update House Details</div>
    </div>
    <form action="/update-house/<%= house._id %>" method="POST" enctype="multipart/form-data">
      <label for="title">Title:</label>
      <input type="text" name="title" id="title" value="<%= house.title %>" required><br>

      <label for="description">Description:</label>
      <textarea name="description" id="description" rows="4" cols="50" required><%= house.description %></textarea><br>

      <label for="price">Price:</label>
      <input type="number" name="price" id="price" value="<%= house.price %>" required><br>

      <label for="location">Location:</label>
      <input type="text" name="location" id="location" value="<%= house.location %>" required><br>

      <label for="photos">Photos:</label>
      <input type="file" name="photos" multiple><br><br>

      <button type="submit" class="btn btn-custom btn-custom-primary">Update House</button>
    </form>
    
    <div class="btn-container">
      <button onclick="location.href='/houses'" class="btn btn-custom btn-custom-danger">Back to All Houses</button>
    </div>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</div>
</body>
</html>
